/*  ----- DESKTOP BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 992px)
{
    
    section.am h3
    {
        font-size: 2em;
    }

    div.all-activities
    {
        align-content: space-between;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 600px;
        font-weight: bold;
    }

    img.img1
    {
        display: none;
    }

    .height-high
    {
        height: 443px;
    }



    .height-small
    {
        height: 235px;
        width: 302px;
        overflow: hidden;
    }

    div.height-high .img2
    {
        right: 140px;
        position: relative;
    }

    div#ndg .img2, div#ndg
    {
        height: 195px;
    }

    div.all-activities  div.text
    {
        position: relative;
        bottom: 50px;
    }

    div#if img.img2, div#if
    {
        height: 165px;
    }

    div#fp
    {
        overflow: hidden;
        height: 270px;
    }

    div#fp img.img2
    {
        height: 370px;
        position: relative;
        bottom: 80px;
    }

    div#fp div.text
    {
        position: relative;
        bottom: 150px;
    }

    div#pl img.img2, div#pl
    {
        height: 208px;
    }
}