/*  ----- DESKTOP BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 992px)
{
    section.marseille
    {
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        margin-right: 3%;
    }
    
    div.all_house
    {
        display: flex;
        flex-direction: row;
        height: 80%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    div.house
    {
        width: 246px;
        height: 199px;
    }

    .house_info
    {
        position: relative;
        bottom: 90px;
        background-color: #FFFF;
        width: 250px;
    }
}