/*  ----- DESKTOP BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 992px)
{
    section.marseille
    {
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        margin-right: 3%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.marseille h2
    {
        float: right;
        position: relative;
        font-weight: bold;
        font-size: 1.5em;
        top: 40px;
        left: 30px;
    }
    
    div.all_house
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    div.house
    {
        width: 246px;
        height: 199px;
    }

    .house_info
    {
        position: relative;
        bottom: 90px;
        background-color: #FFFF;
        width: 250px;
    }
}