section.am h2
{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 1%;
    margin-top: 3%;
}

section.am
{
    margin-top: 5%;
}

div.all-activities
{
    display: flex;
    flex-direction: column;
}

section.am div.item
{
    background: #FFFF;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

}

section.am div.item img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

img.img1
{
    display: none;
}

div.item:hover
{
    transform: scale(1.15);
    transition: 300ms;
    position: relative;
    bottom: 30px;
}

div.height-high img
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-width: none;
}

div.height-high
{
    width: 302px;
    overflow: hidden;
}

section.am div.item div.text
{
    background: #FFFF;
    font-weight: bold;
    padding: 1em; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}