section.am h3
{
    font-weight: bold;
}

section.am
{
    margin-top: 5%;
}

div.all-activities
{
    display: flex;
}

section.am div.item
{
    background: #FFFF;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;

}

section.am div.item img
{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

img.img1
{
    display: none;
}

div.height-high img
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

section.am div.item div.text
{
    background: #FFFF;
    font-weight: bold;
    padding: 1em; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}