@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-weight: bold;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-weight: bold;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-weight: bold;
  }

* 
{
    font-family: 'Poppins';
}

header > ul
{
    display: flex;
    flex-wrap: nowrap;
}

nav.head_nav ul
{
    display: flex;
}

nav.head_nav li:hover
{
    color: #0165fb;
    font-weight: bold;
    transition: 1s;
}

nav.head_nav li 
{
    text-align: center;
}

nav.head_nav li a
{
    list-style-type: none;
    width: 100%;
    display: block;
    text-decoration: none;
}

h1 
{
    font-weight: bold;
}

header form div
{
   display: flex;
   align-content: flex-start;
   justify-content: flex-start;
}

header form input
{
    border: #f2f2f2 solid 2px;
    border-radius: 20px;
    width: 90%;
    height: 50px;
}

header form input[type=text]
{
    padding-left: 17%;
}

header form div a.loop
{    
    border: #0165fb 3px solid;
    background-color: #0165fb;
    margin-top: 0.1em;
    margin-left: 5%;
    padding: 0.7em;
}

.fa-magnifying-glass
{
    filter: brightness(0) invert(1);
}

header form div a img.image
{
    float: right;
    filter: brightness(0) invert(1);
}

header form div a.gps
{
    
    background: #f2f2f2;
    border: #f2f2f2 3px solid;
    border-radius: 30%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0.1em;
    padding: 0.7em;
    position: absolute;
}

div.filtre ul
{
    display: flex;
}

div.filtre ul li
{
    float: left;
    width: max-content;
}

div.filtre ul li a
{
    border: rgb(217, 217, 217) 1px solid;
    border-radius: 50px;
    float: left;
}

ul i.fas
{
    color: rgb(0, 101, 252);
    border-radius: 50px;
    font-size: 15px;
    padding: 1.1em;
    background: rgb(222, 235, 255);
    position: relative;
}

div.filtre ul li span.text
{
    font-weight: bold;
    float: right;
    padding: 12px;
    text-align: center;

}

span.border
{
    margin-right: 3%;
    border: rgb(217, 217, 217) 1px solid;
    border-radius: 100px;
}

i.fa-info
{
    color: rgb(0, 101, 252);
    border-radius: 30px / 30px;
    border: rgb(217, 217, 217) 1px solid;
    padding: 10px;
}
