section.marseille a
{
    font-weight: bold;
    font-size: 1.2em;
}

section.marseille h2
{
    font-size: 1.5em;
    font-weight: bold;
}

section.marseille
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2%;
}

div.house
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    background-color: white;
    border: 5px solid white;
    overflow: hidden;
}

div.house:hover
{
    transform: scale(1.1);
    transition: 300ms;
    border-color: rgb(222, 235, 255);
}

div.house img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    width: 350px;
}

.house_info
{
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 100%;
}

.house_info p:nth-child(1)
{
    font-weight: bold;
    padding-bottom: 1%;
}

.house_info p:nth-child(2)
{
    font-weight: 300;
}

.house_info div.rate
{
    padding-top: 2%;
    font-size: 0.7em;
}