.marseille
{
    padding-left: 3%;
}

section.marseille a
{
    font-weight: bold;
}

div.house
{
    margin-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2em;
    border: 3px solid white;
    padding: 1%;
    overflow-x: hidden;
}

div.house img
{
    width: 390px;
    height: 170px;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;

}

.house_info
{
    margin-left: 3%;
    border: 3px solid white;
    float: left;

}

.house_info p:nth-child(1)
{
    font-weight: bold;
    padding-bottom: 1%;
}

.house_info div.rate
{
    padding-top: 2%;
}