main
{
    margin-top: 5%;
    display: flex;
}

main aside
{
    background: rgb(242, 242, 242);
    box-sizing: content-box;
}

main aside div.all_pop
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 626px;
}

aside span
{
    font-weight: bold;
}

main aside h2
{
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 1.5em;
}

aside h2 i
{
    position: absolute;
    right: 120px;
}

main aside.pop div.pop
{
    margin-bottom: 5%;
    background: #FFFF;
    border: 5px solid #FFFF;
    border-radius: 1em;
    height: 8em;
    height: 144px;
    overflow: hidden;
    width: 343px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-sizing: border-box;
}

div.pop:hover
{
    transform: scale(1.1);
    transition: 300ms;
    border-color: rgb(222, 235, 255);
}

main aside.pop div.pop img
{
    float: left;
    height: 180px;
    width: 132px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

main aside.pop div.pop div.text
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    padding: 3%;
}

main aside.pop div.pop p:nth-child(1)
{
    font-weight: bold;
    font-size: 1.1em;
}

main aside.pop div.pop p:nth-child(2)
{
    font-weight: 300;
}

main aside.pop div.pop div.rate
{
    align-self: flex-end;
}

div.white
{
    border: 3px solid #FFFF;
    padding: 0.2em;
    border-radius: 1em;
    display: flex;
    justify-content: stretch;
}