@media only screen 
and (min-device-with: 375px)
and (min-device-height: 812px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 3)
{
    
}

.wrapper
{
    float: left;
    margin-right: 0;
    margin-left: 0;
    max-width: 402px;
    margin-left: auto;
    margin-right: auto;
    padding-right: auto;
    padding-left: auto;
}