/* ----- SMARTPHONE BREAKPOINT MEDIA QUERY ----- */

@media only screen and (max-width: 767px)
{
    section.am
    {
        margin-left: 5%;
    }
    section.am h3
    {
        margin-bottom: 3%;
    }

    section.am div.item
    {
        margin-bottom: 1.5em;
        height: 190px;
        width: 334px;
        overflow: hidden;
    }

    div#vp .img1
    {
        width: 334px;
        position: relative;
    }

    div#vp div.text
    {
        position: relative;
        bottom: 80px;
    }

    div#fp .img1
    {
        position: relative;
        bottom: 170px;
    }

    div#fp div.text
    {
        position: relative;
        bottom: 360px;
    }

    div#if .img1
    {
        position: relative;
        bottom: 20px;
    }

    div#if .text
    {
        position: relative;
        bottom: 80px;
    }

    div#pnc .img1
    {
        width: 334px;
        position: relative;
        bottom: 30px;
    }

    div#pnc .text
    {
        bottom: 80px;
        position: relative;
    }

    div#pl .text
    {
        position: relative;
        bottom: 75px;
    }

    div#ndg .img1
    {
        position: relative;
        bottom: 30px;
    }

    div#ndg .text
    {
        position: relative;
        bottom: 110px;
    }

    img.img2
    {
        display: none;
    }

    img.img1
    {
        display: block;
    }
}