/*  ----- SMARTPHONE BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (max-width: 500px)
{
    footer div
    {
        padding-bottom: 1em;
    }

    footer div li
    {
        width: max-content;
        margin: 1em;
    }
}