/* ----- SMARTPHONE BREAKPOINT MEDIA QUERY ----- */

@media only screen and (max-width: 767px)
{
    section.marseille
    {
        margin: 0 auto;
        margin-top: 10%;
    }

    section.marseille h2
    {
        margin-bottom: 5%;
    }

    div.house
    {
        width: 335px;
        height: 199px;
        margin-bottom: 5%;
        position: relative;
    }
    
    div.house_info
    {
        background: #FFFF;
        padding: 3%;  
        top: 105px;
    }

    div.all_house
    {
        flex-direction: column;
    }

    div.house img
    {
        bottom: 40px;
        object-fit: cover;
    }

    section.marseille a
    {
        display: none;
    }
}