/* ----- SMARTPHONE BREAKPOINT MEDIA QUERY ----- */

@media only screen and (max-width: 500px)
{
    section.marseille
    {
        margin: 0 auto;
        margin-top: 10%;
    }

    div.house
    {
        width: 335px;
        height: 199px;
        padding: 1%;
    }
    div.house_info
    {
        padding: 3%;
        position: relative;
        bottom: 90px;
        border: 10px solid #FFF;
        background: #FFFF;
    }
}