/* ----- SMARTPHONE BREAKPOINT MEDIA QUERY ----- */

@media only screen and (max-width: 760px)
{
    main
    {
        margin-top: 5%;
        flex-direction: column;
    }

    main aside.pop
    {
        padding-top: 10%;
        padding-left: 3%;
        flex-direction: column;
    }
}