/*  ----- TABLET BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 768px)
and (max-width: 992px)
{
    footer
    {
        display: flex;
        justify-content: space-evenly;
        padding: 2em;
        padding-top: 5%;
        margin-top: 5%;
    }
    footer div
    {
        justify-content: center;
        align-content: space-between;
    }
}