/*  ----- DESKTOP BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 992px)
{
    section.marseille
    {
        background-color: rgb(242, 242, 242);
        border-radius: 20px;
        margin-right: 5%;
        padding: 2%;
    }

    div.all_house
    {
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-self: flex-start;
    }

    div.house
    {
        width: 220px;
        height: 200px;
    }

    .house_info
    {
        position: relative;
        bottom: 90px;
        background-color: #FFFF;
        width: 250px;
        
    }
}