/*  ----- TABLET BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 768px)
and (max-width: 992px)
{
    div.wrapper
    {
        width: 100%;
    }

    main
    {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-left: 3%;
    }

    main aside
    {
        flex-direction: row;
        align-self: flex-start;
        flex-wrap: wrap;
        border-radius: 30px;
        background: none;
        position: relative;
        top: 30px;
        margin-bottom: 30px;
    }

    aside h2
    {
        position: absolute;
        top: -50px;
    }

    aside h2 i
    {
        left: 250px;
    }

    aside div.all_pop
    {
        flex-direction: row;
        flex-wrap: wrap;
    }

    aside div.pop:nth-child(2)
    {
        margin-right: 2%;
        margin-bottom: 2%;
    }
}