/*  ----- TABLET BREAKPOINT MEDIA QUERY -----  */

@media only screen
and (min-width: 768px)
{
    main
    {
        flex-direction: column;
    }
    main aside
    {
        flex-direction: column;
        align-self: flex-start;
        padding: 3%;
        border-radius: 30px;
        height: 626px;
        clear: right;
    }
}